@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth !important;
}

body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@layer base {
    :root {
        --background: 0 0% 7%;
        --foreground: 0 0% 100%;

        --card: 0 0% 7%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 7%;
        --popover-foreground: 0 0% 100%;

        --primary: 0 0% 7%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 7%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 7%;
        --muted-foreground: 0 0% 100%;

        --accent: 0 0% 7%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 0% 7%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 100%;
        --input: 0 0% 100%;
        --ring: 0 0% 100%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 7%;
        --foreground: 0 0% 100%;

        --card: 0 0% 7%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 7%;
        --popover-foreground: 0 0% 100%;

        --primary: 0 0% 7%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 7%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 7%;
        --muted-foreground: 0 0% 100%;

        --accent: 0 0% 7%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 0% 7%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 100%;
        --input: 0 0% 100%;
        --ring: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
