@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth !important;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@layer base {
    :root {
        --background: 0 0% 7%;
        --foreground: 0 0% 100%;

        --card: 0 0% 7%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 7%;
        --popover-foreground: 0 0% 100%;

        --primary: 0 0% 7%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 7%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 7%;
        --muted-foreground: 0 0% 100%;

        --accent: 0 0% 7%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 0% 7%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 100%;
        --input: 0 0% 100%;
        --ring: 0 0% 100%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 7%;
        --foreground: 0 0% 100%;

        --card: 0 0% 7%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 7%;
        --popover-foreground: 0 0% 100%;

        --primary: 0 0% 7%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 7%;
        --secondary-foreground: 0 0% 100%;

        --muted: 0 0% 7%;
        --muted-foreground: 0 0% 100%;

        --accent: 0 0% 7%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 0% 7%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 100%;
        --input: 0 0% 100%;
        --ring: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

.fade-in-out {
    animation: fadeInOut 2s infinite;
}

/* Add this CSS to your styles */
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
}

.rotate-a {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.rotate-s {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

